<%= div_for @post do %>
	<h2><%= h(@post.title) %></h2>
	<strong>Posted by <%= h(@post.user.first_name) %> <%= time_ago_in_words(@post.created_at) %></strong>
	<%= simple_format h(@post.body) %>
<% end %>	